
/* CSS HEX 
--columbia-blue: #bbdef0ff;
--melon: #f7a9a8ff;
--maize: #f7ec59ff;
--davys-gray: #5c5d67ff;
--bistre: #43281cff;
*/


.navbar-brand {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}

.container-fluid{
    background-color:#f7a9a8ff;;
}


.image-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselExampleFade {
    width: 100%;  
    margin: 0 auto; 
  }

  #carouselExampleFade img {
    width: 100%;
    height: 500px;  
    object-fit: contain;
  }


h1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.image-container{

    display: flex;
}
.Muestra{
    text-align: center;
    background-color: #5c5d67ff;
}

.compras{
    text-align: center; 
    background-color:#f7ec59ff;
}
.text-container{
    text-align: left;
}



.btn-container {
    text-align:left;    
  }

.contacto{
    text-align: center;
     background-color:rgb(255, 243, 207);
}

h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

footer {
    background-color: rgb(232, 200, 114);
    padding: 2%;
    display: flex;
    justify-content:space-around;

}

.logo-footer{
    width: 20%;
    height: 20%;
    
}



.redes-sociales ul li a {
    color: rgb(25, 43, 42);
    font-size: 24px;
    text-decoration: none;
}

.redes-sociales ul li a:hover {
    color: #3274bb;
}