body{
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#ECEFFE, #ced6f8);
}

.card-image{
  height: 500px;
  width: 400px;

}

.card-list .card-item{
  list-style: none;
}

.card-list .card-item .card-link{
  width: 400px;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #5372f0;

}

.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge{
  color: #000;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: rgb(232, 200, 114);
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title{
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

